/* Header.css */
.header {
  margin-bottom: -8%;
}

.theme-toggle-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
  }
  
.turqoise {
    background-color: #12333A; 
    color: #FA6400;
  }
  
.orange {
    background-color: #FA6400; 
    color: #12333A;
  }
  
.theme-toggle-button:hover {
    opacity: 0.9; 
  }
  