input {
    font-size: 12px;
    border: none;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 20px;
    margin-right: 5px;
    border-radius: 2px;
}

.SearchCard {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

input:hover, .search:hover {
  background-color: #f1f1f1; 
  box-shadow: 0px 0px 8px rgba(227, 227, 226, 0.5);
}

.turqoise {
    background-color: #12333A; 
    color: white;
  }
  
.orange {
    background-color: #FA6400; 
    color: white;
}

.turqoise {
    background-color: #12333A; 
    color: white;
  }
  
.orange {
    background-color: #FA6400; 
    color: white;
}

.search.disabled {
    opacity: 0.5; 
    cursor: not-allowed;
  }

.search {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    margin: 10px;
    border: none;
    padding: 9px 10px 9px 10px;
    border-radius: 2px;
    font-size: 0.65em;
  }