@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.favorites {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.content {
  margin: 2%;
  padding-bottom: 3%;
  display: flex;
  justify-content: center;
}

h1 {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.h1-orange {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  margin-bottom: 10px;
  color: #12333A;
}

.h1-turqoise {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  margin-bottom: 10px;
  color: #FA6400;
}

.App-link {
  color: #61dafb;
}

@media screen and (max-width: 640px) {
  .gallery {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 15px;
  }

  .content{
    margin-top: 2%;
    padding-bottom: 3%;
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 550px) {
  .content{
    margin-top: 2%;
    padding-bottom: 3%;
    display: flex;
    justify-content: center;
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
  }
}